/* Empty. Add your own CSS if you like */

html {
  background: #800000 !important;
}

* {
  font-family: 'ProximaNova-Regular', 'Helvetica', 'Arial', sans-serif !important;
}

h1 { font-family: 'ProximaNovaT-Thin', 'Helvetica', 'Arial', sans-serif !important; }
h2 { font-family: 'ProximaNova-Light', 'Helvetica', 'Arial', sans-serif !important; }
h3 { font-family: 'ProximaNova-Regular', 'Helvetica', 'Arial', sans-serif !important; }
h4 { font-family: 'ProximaNova-Semibold', 'Helvetica', 'Arial', sans-serif !important; }
h5 { font-family: 'ProximaNova-Bold', 'Helvetica', 'Arial', sans-serif !important; }

.menu-tabs {
  position: static !important;
  top: 0;
}

.bar-uchicago-maroon {
  background-color: #800000 !important;
  color: #fff !important;
}

.bar-uchicago-maroon .title,
.bar-uchicago-maroon .button {
  color: inherit !important;
}

.scroll {
  height: 100% !important;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a.modal-close {
  display: block;
  float: right;
  padding: 10px;
  font-size: 200%;
  color: #000;
  text-decoration: none;
}
